:root { 
--purple_100:#e0b1d5; 
--pink_900:#5e0d4a; 
--gray_900:#311e2c; 
--red_200:#f0a9af; 
--black_900_3f:#0000003f; 
--purple_400_19:#a3559219; 
--black_900_87:#00000087; 
--bluegray_900:#262b35; 
--black_900:#150900; 
--black_902:#161000; 
--black_901:#000000; 
--deep_orange_300:#ff7a59; 
--deep_orange_200:#f0b1a2; 
--white_A700:#ffffff; 
--deep_orange_100:#fad0c4; 
--purple_50:#ffd1ff; 
--gray_700_11:#55555511; 
--purple_400:#a35592; 
}